#user_plans
  %h2 Current Reading Plans
  #plan_list
    = render(@plans) || "You don't have any plans yet"

  - if @finished_plans.present?
    %br
    %h2 Finished Reading Plans
    #plan_list
      = render(@finished_plans)

#templates
  = link_to button_tag('Start a Reading Plan'), plan_templates_path
