%table
  %tr
    %td(style="vertical-align:top")
      %h2 Reading Plan Templates
      = render @plan_templates
    %td(style="vertical-align:top; width:50%; padding-left: 50px")
      %h2 Your Existing Plans
      = render(@plans) || 'No plans present'
