<!DOCTYPE html>
%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body
    %h1
      You're invited to BibleRush.com!
    %p
      Use your email to sign up:
      = @invite.email
    %p
      To register, just follow this link:
      = @url
