<!DOCTYPE html>
%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body
    %p
      #{@invite.plan.creator.username} (#{@invite.plan.creator.email}) has invited you
      to join their Bible reading plan at BibleRush.com.
    %p
      Use your email (#{@invite.email}) to sign up:
    %p
      To register, just follow this link:
      = @url
