.comment_wrapper
  .avatar
  .comment_header
    .identity
      = comment.user.email
    .when
      &nbsp; said #{time_ago_in_words(comment.created_at)} ago
    .counter
      \##{comment_counter + 1}
  .comment_text
    = comment.comment
