%h1 Edit Comment
= render @comment

- if @comment_diff
  %br
  %h3 comment changes
  = simple_format @comment_diff

= render 'form'
%br
= link_to 'back to comments', plan_detail_path(@comment.commentable)
