%ul
  %li
    %a{ 'href' => mockup_path } mockup page
  %li
    %a{ 'href' => new_user_session_path } sign in
  %li
    %a{ 'href' => new_user_registration_path } sing up
  %li
    = link_to 'sign out', destroy_user_session_path, :method => :delete

#foo
  this is a test

#dan
  #bar
    part 1
  #bar2
    part 2
