%h1 Bible Rush 2.0

%div
  %div(style="float:left; width:800px;vertical-align:top;")
    %h2(style="margin:0;display:inline") Daniel's Reading Plan
    %div(style="float:right; padding-right:40px")
      %button Create New Reading Plan

    %br
    %br

    %table(width="100%" style="border:solid #ccc 1px;padding:15px" border="1" cellpadding="5" cellspacing="5")
      %tr
        %td
          %div(style="float:left;padding-right:20px") January 11, 2013
          %div(style="float:left")
            %a(href='#') Genesis 10:4-20
          %div(style="float:right;padding-right:10px;")
            %button Comment
      %tr
        %td
          %div(style="width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
          %div(style="float:left;padding-left:10px ") first comment!
      %tr
        %td
          %div(style="width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
          %div(style="float:left;padding-left:10px ") i liked this passage because...
      %tr
        %td
          %div(style="width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
          %div(style="float:left;padding-left:10px ") yeah i agree but also...

    %br

    %table(width="100%" style="border:solid #ccc 1px;padding:15px" border="1" cellpadding="5" cellspacing="5")
      %tr
        %td
          %div(style="float:left;padding-right:20px") January 10, 2013
          %div(style="float:left")
            %a(href='#') Genesis 10:1-3
          %div(style="float:right;padding-right:10px;")
            %button Comment
      %tr
        %td
          %div(style="width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
          %div(style="float:left;padding-left:10px ") in the beginning...
      %tr
        %td
          %div(style="width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
          %div(style="float:left;padding-left:10px ") you know what i think?
      %tr
        %td
          %div(style="width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
          %div(style="float:left;padding-left:10px ") yeah i agree but also...
      %tr
        %td
          %div(style="width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
          %div(style="float:left;padding-left:10px ") not sure..
      %tr
        %td
          %div(style="width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
          %div(style="float:left;padding-left:10px ") hard to say but...

  %div(style="float:left;padding-left:20px ")
    %button Add/Remove Members
    
  %br
  %br

  %div(style="margin-left:20px; width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
  %div(style="float:left;padding-left:10px ") Rose

  %br
  %br
  %br
  %br
  %div(style="margin-left:20px; width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
  %div(style="float:left;padding-left:10px ") Stephen

  %br
  %br
  %br
  %br
  %div(style="margin-left:20px; width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
  %div(style="float:left;padding-left:10px ") Dan

  %br
  %br
  %br
  %br
  %div(style="margin-left:20px; width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
  %div(style="float:left;padding-left:10px ") P

  %br
  %br
  %br
  %br
  %div(style="margin-left:20px; width:80px;height:50px;background-color:#ccc;float:left") &nbsp;
  %div(style="float:left;padding-left:10px ") Sophia

