%h3
  = plan_template.name
  = link_to 'View Plan', plan_template
  &nbsp;
  = link_to('Create Reading Plan', new_plan_path(:plan_template_id => plan_template), :remote => true, :class => 'create_plan_link')
= plan_template.desc
