/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "global";
@import "dashboard";
@import "pages";
@import "plans";
@import "plan_details";
@import "plan_templates";
@import "comments";
@import "diffy";
@import "users";

ul.hmenu {
  list-style: none; 
  margin: 0 0 .2em;
  padding: 0;
  width: grid-width(8);
}

ul.hmenu li {
  display: inline;
  margin: 0 .7em 0 0;

  a {
    vertical-align: top;
  }
}

#container, .flash {
  width: grid-width(8);
  margin-left: auto;
  margin-right: auto;
}

.flash {
  color: #dff0d8;
  background-color: #222;
  border: 1px solid #d6e9c6;
  width: grid-width(8);
  @include border-top-radius(4px);
  @include border-bottom-radius(4px);
  padding: 0.45em;
  margin-bottom: 5px;

  p { margin: 0 0 0 0; }
}

.error {
  background-color: red;
}

h2 {
  color: #444;
  margin: 0 0 0 0;
}

button {
  @include button;
}

hr {
  border: solid #ddd 1px;
}

a {
  &:link, &:active, &:visited {
    color: #5c8ab5;
  }
  &:hover {
    color: blue;
  }
}
