#templates, #user_plans {
  float: left;
  @include box-sizing(border-box);
}

#user_plans {
  width: grid-width(6);
  background-color: #eee;
  border: solid #ddd 1px;
  padding: 10px;
}

#templates {
  margin-left: $gw-gutter;
  width: grid-width(2);
}
