#templates, #user_plans {
  width: grid-width(4);
  float: left;
  background-color: #eee;
  border: solid #ddd 1px;
  @include box-sizing(border-box);
  padding: 10px;
}

#templates {
  margin-left: $gw-gutter;
}

#user_plans {
  .new_plan { background-color: #ffff9d;}
}
