.date {
  width: grid_width(2) - ($gw-gutter * 3);
  float: left;
}

.passage-ref {
  width: grid_width(2);
  float: left;
  margin-left: $gw-gutter;
}

.comment-button {
  float: right;
}

.new_comment, .edit_comment {
  textarea {
    height: 170px;
    width: grid_width(4);
    font-size: 1.1em;
  }

  label {
    display: none;
  }
}
