%h3
  .date(style="clear:left;")
    = plan_detail.assigned_date.strftime('%b %d, %Y')
  .passage-ref
    = link_to plan_detail.passage_ref, Utils.bgateway_link(plan_detail.passage_ref), :target => '_blank'
  .add-comment(style="clear:right;")
    = link_to 'add comment', '#'
%br
