= pd.assigned_date.strftime('%b %d, %Y')
= pd.passage_ref
= link_to 'EN', Utils.bgateway_link(pd.passage_ref), :target => '_blank' 
= link_to 'CH', Utils.bgateway_link(pd.passage_ref, 'CUVMPS'), :target => '_blank' 
