%h1 Comments
%h2
  = render :partial => 'plan_detail_header', :locals => { plan_detail: @plan_detail }
  &nbsp;
  &nbsp;
  &nbsp;
  = link_to 'plan summary', plan_path(@plan_detail.plan)

= render 'comments/form'

= render(@comments, total: @comments.count) || 'No comments'
