%h2
  = @plan.name

- @plan_details.each do |pd|
  %p
    = render :partial => 'plan_details/plan_detail_header', :locals => { pd: pd }

    &nbsp;
    &nbsp;
    &nbsp;
    -# performance hack to bypass n+1
    = link_to pluralize(pd.comments.map { 1 }.sum, 'comment'), plan_detail_path(pd)
    &nbsp;
    &nbsp;
    &nbsp;
    -#= link_to 'add comment', dashboard_comment_path(:id => pd)

